.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px;
    background-color: #fff;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }
}